html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

$maxWidth: 1400px;
$widthAdapt: 570px;

body {
    @import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
    font-family: "", serif;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: #fff;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px 0 58px;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
    padding-bottom: 8px;
    border-bottom: 2px solid #000000;
    .logo {
        padding-top: 6px;
    }
    
    .realTime {
        padding-top: 8px; 
        #time_now {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 500;
            line-height: 26px;
            font-size: 20px;
        }
    }
    
    .user_info {
        display: flex;
        justify-content: space-between;
        text-align: center;
        .user_info-logo {
            max-block-size: 34px;
            justify-content: center;
        }
        .user_info-block {
            .user_info-block-text {
                display: flex;
                justify-content: space-between;
                text-align: center;
                max-width: 112px;
                max-height: 25px;
            
                .user_name {
                    font-size: 10px;
                }
            
                .info-block-images{
                    display: flex;
                    align-items: center;
            
                }
            }
        }
    }
}
.hero{
    background-image: url(img/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .hero__container {
        
        h1 {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
            letter-spacing: 0.025em;
            color: #000000;
            padding: 5px 0 10px 0;
        }
        a {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            line-height: 12px;
            letter-spacing: 0.025em;
            color: #000000;
        }
    }
}