html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

$maxWidth: 1400px;
$widthAdapt: 570px;

body {
    @import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
    font-family: "", serif;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: #fff;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px 0 58px;
}

.header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    align-items: center;

    .header__container {
        /*left site bar*/
.leftSiteBar{
    position:fixed;
    display: inline-block;
    margin-top: 2.5px;
    margin-left: -50.5px;
    z-index: 101;
    
    cursor: pointer;
    ul, li {
        list-style: none;
    }
  }
  .burger{
    display: flex;
    position: relative;
    z-index: 50;
    align-items: center;
    width: 26px;
    height: 18px;
    margin-top: 26px;
    margin-bottom: 17px;
  }
  .burger__item{
    height: 2px;
    width: 100%;
    transform: scale(1);
    background-color: #fff;
  }
  .burger::before,
  .burger::after{
      content: '';
      position: absolute;
      height: 2px;
      width: 100%;
      background-color: #fff;
      transition: all 0.3s ease 0s;
  }
  .burger::before{ top:0;}
  .burger::after{ bottom: 0;}
  .burger.active .burger__item {
      transform: scale(0);
  }
  .burger.active::before{
      top: 50%;
      transform: rotate(-45deg) translate(0,-50%);
  }
  .burger.active::after{
      bottom: 50%;
      transform: rotate(45deg) translate(0,50%);
  }
  .tool-item:not(:last-child){
    margin-bottom: 14px;
  }
  .tool-items{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .tool-item{
    border-radius: 3px;
  }
  .item_calendar:hover,
  .item_task:hover,
  .item_shopping-bag:hover,
  .item_share:hover,
  .item_people-team:hover,
  .item_target:hover,
  .item_fluent-data:hover,
  .item_row:hover,
  .item_settings:hover{
    background-color: rgba(255, 255, 255, 0.2);
  }
  .tool{
    display: none;
    animation: burgerAnimation 0.4s;
  }
  /* тут класс опен для выкатывания меню при нажатии */
  .open{
    display: flex !important;
  }
  /* Анимация меню-бургера */
  @keyframes burgerAnimation {
    from{opacity: 0;}
    to{opacity: 1;}
  }
  
  .nav {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 14px;
    border-bottom: 2px solid #ffffff;
    
    #triangle-white{
        margin-top: 2px;
        width: 0;
        height: 0;
        margin-left: 7px;
        border-top: 10px solid #ffffff;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
    }

    .logo {
        padding-top: 6px;
    }
    
    .realTime {
        padding-top: 8px; 
        #time_now {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 500;
            line-height: 26px;
            font-size: 20px;
            color: #fff;
        }
    }
    
    .user_info {
        display: flex;
        justify-content: space-between;
        text-align: center;
        gap: 8px;
        .user_info-logo {
            img {
                width: 40px;
                height: 40px;
            }
            max-block-size: 34px;
            justify-content: center;
        }
        .user_info-block {
            display: flex;
            gap: 7px;
            padding: 3.5px 5px;
            margin-top: 3.5px;
            background-color: #fff;
            border-radius: 5px;
            .user_info-block-text {
                display: flex;
                flex-direction: column;
                gap: 0px;
                .block-text-top {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    #user_name {
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 15.5px;
                        line-height: 12px;

                        color: #000000;
                    }
                    #user_sample {
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 9.5px;
                        line-height: 6px;
                        color: #001663;
                    }
                }
                .block-text-bottom {
                    .text-bottom {
                        font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 15.5px;
                    line-height: 11px;
                    color: #0573DA;
                    }
                }
            }
            .info-block-images{
                display: flex;
                align-items: center;
                gap: 7px;
                .bookmark {
                    width: 18px;
                    height: 18px;
                    background: #387CFF;
                    border-radius: 3px;
                    transition: 0.4s;
                }
                .bookmark:active {
                    background: #ff3838;
                }
                .bookmark:not(:active) {
                    transition: background-color 100000ms step-end;
                }
                #triangle-black {
                    width: 0;
                    height: 0;
                    margin-top: 2px;
                    border-top: 10px solid #000000;
                    border-left: 7px solid transparent;
                    border-right: 7px solid transparent;
                }
            }
        }
    }

    .invite {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 3px;
        padding: 5px 10px;
            margin-top: 3.5px;
        background-color: #0048A8;
        span{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 15.5px;
            line-height: 11px;
            color: #FFFFFF;
        }
    }

    .search {
        display: flex;
        align-items: center;
        padding: 3px 60px 3px 5px;
        background: rgba(255, 255, 255, 0.7);
        border-radius: 5px;
        gap: 7.5px;
        img {
            width: 15px;
            height: 15px;
        }
        span {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 15.5px;
            line-height: 12px;

            color: rgba(0, 0, 0, 0.65);
        }
        .contacts__box {
            .input__box {
                border-bottom: 1px solid #dad2e3;
                position: relative;
                label {
                    position: absolute;
                    top: 50%;
                    left: 5px;
                    transform: translateY(-50%);
                    pointer-events: none;
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 15.5px;
                    line-height: 12px;

                    color: rgba(0, 0, 0, 0.65);
                    transition: 0.5s;
                }
                input:focus ~ label,
                input:valid ~ label {
                    top: -0.5px;
                    left: 110px;
                }
                input {
                    width: 115px;
                    background: transparent;
                    border: none;
                    outline: none;
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 15.5px;
                    line-height: 12px;
                    color: rgba(0, 0, 0, 0.65);
                }
            }
        }
        
    }
    .lang {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 17px;
        /* identical to box height */


        color: #FFFFFF;
        margin-top: 8px;
    }

    .help {
        margin-top: 7px;
    }

}
    }
}
.hero{
    padding: 100px 0;
    background-image: url(../img/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    .hero__container {
        h1 {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 28px;
            line-height: 29px;
            letter-spacing: 0.025em;
            color: #fff;
            padding: 10px 30px;
            background-color: #08318873;
            display: inline;
            border-radius: 15px;
        }
        .calendar {
            display: flex;
            margin: 3em auto;
            gap: 75px;
            .calendar-wrapper {
                width: 360px;
                padding: 2em;
                border: 1px solid #dcdcff;
                border-radius: 5px;
                background: #fff;
                table {
                    clear: both;
                    width: 100%;
                    border: 1px solid #dcdcff;
                    border-radius: 3px;
                    border-collapse: collapse;
                    color: #444;
                    
                  }
                  td {
                    height: 48px;
                    text-align: center;
                    vertical-align: middle;
                    border-right: 1px solid #dcdcff;
                    border-top: 1px solid #dcdcff;
                    width: 14.28571429%;
                  }
                  tr:nth-child(2) td:nth-child(2) {
                    color: #0573DA;
                    font-size: 25px;
                    font-weight: 600;
                  }
                  tr:last-child td:nth-child(3) {
                    color: red;
                    font-size: 25px;
                    font-weight: 600;
                  }
                  thead td {
                    border: none;
                    color: #28283b;
                    text-transform: uppercase;
                    font-size: 22.5px;
                  }
                  td.not-current {
                    color: #c0c0c0;
                  }
                  td.today {
                    font-weight: 700;
                    color: #28283b;
                    font-size: 22.5px;
                  }
                  #btnPrev {
                    float: left;
                    margin-bottom: 20px;
                  }
                  #divCal {
                    font-family: "Montserrat", sans-serif;
                  }
                  #btnPrev:before {
                    font-family: "Montserrat", sans-serif;
                    padding-right: 4px;
                  }
                  #btnNext {
                    float: right;
                    margin-bottom: 20px;
                  }
                  #btnNext:after {
                    font-family: "Montserrat", sans-serif;
                    padding-left: 4px;
                  }
                  #btnPrev,
                  #btnNext {
                    background: transparent;
                    border: none;
                    outline: none;
                    font-size: 15px;
                    font-weight: 500;
                    color: #979090;
                    cursor: pointer;
                    font-family: "Montserrat", sans-serif;
                    text-transform: uppercase;
                    transition: all 0.3s ease;
                  }
                  #btnPrev:hover,
                    #btnNext:hover {
                    color: #28283b;
                    font-weight: bold;
                    }
              }
            .calendar-description {
                display: flex;
                flex-direction: column;
                gap: 22.5px;
                .calendar-description_up {
                    max-width: 300px;
                    max-height: 150px;
                    margin-right: 100px;
                    width: 360px;
                    background-color: #fff;
                    border-radius: 5.5px;
                    padding: 1.5em;
    
                    font-size: 15px;
                    font-weight: 500;
                    line-height: 25px;
                    color: #4c4c4c;
                    font-family: "Montserrat", sans-serif;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    .blue_circle, .red_circle {
                        height: 10px;
                        width: 10px;
                        display: flex;
                        gap: 10px;
                        align-items: center;
                        span {
                            white-space: nowrap;
                        }
                    }
                }
                .calendar-description_down {
                h4:first-child {
                    font-size: 20px;
                    font-weight: 600;
                }
                    h4 {
                        display: inline;
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 19.5px;
                        line-height: 12px;
                        color: #fff;
                    }
                    .tasks {
                        margin-top: 9px;
                        padding: 9px; 
                        width: 540px;
                        height: 360px;
                        background-color: #fff;
                        border-radius: 5px; 
                        .tasks_date {
                            display: inline;
                            font-family: 'Montserrat';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 15.5px;
                            line-height: 12px;

                            color: #000000;
                        }
                        .tasks_main {
                            padding-top: 12px;
                            display: flex;
                            gap: 18px;
                            .left_task {
                                display: flex;
                                flex-direction: column;
                                .left_btn {
                                    p {
                                        font-family: 'Montserrat';
                                    font-style: normal;
                                    font-weight: 500;
                                    font-size: 13px;
                                    line-height: 10px;
                                    color: #000000;
                                    padding: 10.5px;
                                    background-color: #FF8080;
                                    border-radius: 5px;
                                    }
                                    padding-bottom: 10px;
                                    border-bottom: 2px solid #000;
                                }
                                .left_task_main {
                                    margin-top: 12px;
                                    padding: 7px 155px 235px 7px;
                                    background: #81BEFF;
                                    border-radius: 5px;
                                    span {
                                        font-family: 'Montserrat';
                                        font-style: normal;
                                        font-weight: 500;
                                        font-size: 15.5px;
                                        line-height: 12px;
                                        color: #000000;
                                    }
                                }
                            }
                            .right_task {
                                .right_btn {
                                    p {
                                        display: inline-block;
                                        font-family: 'Montserrat';
                                    font-style: normal;
                                    font-weight: 500;
                                    font-size: 13px;
                                    line-height: 10px;
                                    color: #000000;
                                    padding: 10.5px;
                                    background-color: #AAD3FF;
                                    border-radius: 5px;
                                    }
                                    padding-bottom: 10px;
                                    border-bottom: 2px solid #000;
                                }
                                .leaders {
                                    margin-top: 12px;
                                    padding: 7px 55px 44px 7px;
                                    background: #AAD3FF;
                                    border-radius: 5px;
                                    text-align: center;
                                    align-items: center;
                                    span {
                                        font-family: 'Montserrat';
                                        font-style: normal;
                                        font-weight: 500;
                                        font-size: 15.5px;
                                        line-height: 12px;
                                        color: #000000;
                                        white-space: nowrap;
                                    }
                                    .leader {
                                        display: flex;
                                        justify-content: space-between;
                                        align-items: center;
                                        padding-bottom: 10px;
                                        max-width: 200px;
                                        border-bottom: 2px solid #000;
                                        gap: 35px;
                                        img {
                                            height: 50px;
                                            width: 50px;
                                        }
                                    }
                                    .leader:not(:first-child) {
                                        padding-top: 10px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .user__info {
            display: flex;
            flex-direction: column;
            gap: 14px;
            padding: 16px 14px;
            background-color: #FFFFFFB2;
            border-radius: 7px;
            width: 400px;
            .user__info_main {
                display: flex;
                justify-content: space-between;
                gap: 14px;
            }
        }
    }
}