* {
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

$maxWidth: 1140;
$widthAdapt: 570px;

body {
    @import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
    font-family: "", serif;
    font-weight: 400;
}